{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importer des invités depuis un fichier CSV</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Importer</button>
    {{ form_end(form) }}
{% endblock %}
